@import "tailwindcss";

:root {
  --background: lineargradient;
  --foreground: #ffffff;
}

body {
  background: #131313;
  background: linear-gradient(180deg,rgba(19, 19, 19, 1) 0%, rgba(39, 39, 39, 1) 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

a {
  font-weight: bold;
}

canvas {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}