@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap";
@import "tailwindcss";

:root {
  --foreground: #fff;
  --background: #000;
  --background-gradient: linear-gradient(180deg,rgb(0, 0, 0) 0%, rgb(26, 26, 26) 100%);
}

.seasonalEvents {
  --foreground: #ff672b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "JetBrains Mono", monospace;
}

body::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--background-gradient);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1000000;
}

body.gradient::before {
  opacity: 1;
}

p {
  margin: 0;
}

canvas {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to { opacity: 1; }
}

.darken {
  filter: brightness(60%);
}

p, span {
  @apply transition-colors;
}

.img88x31 {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

@theme inline {
  --animate-shine: shine var(--duration) infinite linear;
 
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}